# backend project
backend/handlers/build/
backend/handlers/packaged/

# common
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Python
*.pyc

# Mac OS X
.DS_Store
